<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <%- include('partial/navBar') %>
</head>
<body>
    <p style="font-weight: bold;">Here are some numbers that have been generated from a for loop using EJS!</p>
    <div style="background-color:aliceblue; text-align: center; font-size: larger; font-family: cursive;">
        <% for(let ctr = 1; ctr < 11; ctr++) { %>
                <%= ctr %>.&nbsp;&nbsp;&nbsp;
            <% for(let ctrTwo = 1; ctrTwo < 11; ctrTwo++) { %>
                <%=ctrTwo%> &nbsp;&nbsp;
            <% } %>
            <br><br>
            <% } %>
    </div>
    <p style="font-size: 40px;">INSANITY</p>
</body>
</html>