<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <%- include('partial/navBar') %>
</head>
<body>
    <form action="login" class="loginPage">
        <label for="loginName">Username:</label>
        <input type="text" id="loginName" name="loginName"><br><br>
        <label for="passcode">Password:</label>
        <input type="password" name="passcode" id="passcode"><br><br>
        <input type="submit" name="submit" id="submit">
    </form>
</body>
</html>